header {
  background-color: black;
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas: "logo navigator";
}

.logo {
  color: white;
  grid-area: logo;
  padding-left: 10%;
  padding-top: 5%;
  font-size: xx-large;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 100%;
  grid-area: navigator;

}

.navigation-item a {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.navigation-button {
  width: 15%;
  height: 60px;
}

.portfolio-button {
  border-radius: 25px;
  background-color: teal;
  border: 0;
  margin-left: 10%;
  width: 100%;
  height: 50px;
}
