<header>
  <div class="logo">DL</div>
  <ul class="navigation-list">
    <li class="navigation-item"><a href="#">Home</a></li>
    <li class="navigation-item"><a href="/projects">Projects</a></li>
    <li class="navigation-item"><a href="https://www.linkedin.com/in/dianalim2/" target="_blank">LinkedIn</a></li>
    <li class="navigation-item"><a href="https://github.com/diana-lim" target="_blank">GitHub</a></li>
    <li class="navigation-item"><a href="mailto: lim.the.dev@gmail.com">Contact Me</a></li>
    <li class="navigation-button"><button class="portfolio-button" (click)="portfolio()">Portfolio</button></li>
  </ul>
</header>

