<app-navbar></app-navbar>

<div class="content-container">
  <div class="content-left">
    <div class="left-image"><img src="./assets/img/dlim-me.jpg"></div>
    <div class="left-item">Hello. My name is...</div>
    <div class="left-name">Diana Lim</div>
    <div class="left-description">CREATOR + SOFTWARE DEVELOPER</div>
    <div class="left-item">I'm an Angular/Typescript developer with some experience in working with Android, Java, Kotlin, and C#.</div>
    <div class="left-button"><button>Hire Me</button></div>
  </div>
  <div class="content-right">
  </div>
</div>
