<app-navbar></app-navbar>

<div class="content-container">
  <div class="content-left">
    <div class="left-image"><img src="./assets/img/dlim-me.jpg"></div>
    <div class="left-item">Hello. My name is...</div>
    <div class="left-name">Diana Lim</div>
    <div class="left-description">CREATOR + SOFTWARE DEVELOPER</div>
    <div class="left-item">I'm an Angular/Typescript developer with additional experience in working with Android, Java, Kotlin, and C#.</div>
    <div class="left-button"><button><a href="mailto: lim.the.dev@gmail.com">Hire Me</a></button></div>
  </div>
  <div class="content-right">
    <div class="right-top"></div>
    <div class="right-middle">
      <div class="showcase-container">
        <h2>Project Samples Here</h2>
      </div>
    </div>
    <div class="right-bottom"></div>
  </div>
</div>
