.projects-container {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 14% 24% 24% 24% 14%;
  grid-template-rows: 100%;
  grid-template-areas: "one two three four five";
}

.software-development {
  grid-area: two;
  margin-top: 35%;
  text-align: center;
  width: 80%;
  height: 60%;
  border: 1px solid black;
  border-radius: 25px;

}

.youtube {
  grid-area: three;
  margin-top: 35%;
  text-align: center;
  width: 80%;
  height: 60%;
  border: 1px solid black;
  border-radius: 25px;

}

.random {
  grid-area: four;
  margin-top: 35%;
  text-align: center;
  width: 80%;
  height: 60%;
  border: 1px solid black;
  border-radius: 25px;

}

@media only screen and (max-width: 1600px) {
  .projects-container {
    //background-color: lightblue;
    grid-template-columns: 11% 26% 26% 26% 11%;
  }

  h1 {
    font-size: 35px;
  }

  .software-development {
    margin-top: 35%;
    width: 85%;
    height: 50%;
  }

  .youtube {
    margin-top: 35%;
    width: 85%;
    height: 50%;
  }

  .random {
    margin-top: 35%;
    width: 85%;
    height: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .projects-container {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 28% 28% 28% 8%;
    grid-template-areas: "one"
    "two"
    "three"
    "four"
    "five"
  }

  h1 {
    margin-top: 10%;
  }

  .software-development {
    grid-area: two;
    margin-top: 2%;
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: 90%;
    border: 1px solid black;
    border-radius: 25px;
  }

  .youtube {
    grid-area: three;
    margin-top: 2%;
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: 90%;
    border: 1px solid black;
    border-radius: 25px;

  }

  .random {
    grid-area: four;
    margin-top: 2%;
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: 90%;
    border: 1px solid black;
    border-radius: 25px;

  }
}
