<app-navbar></app-navbar>
<div class="portfolio-container">
  <h2>Development Projects</h2>
  <div class="projects-container">
    <div class="item">
      <div class="project">Angular/Typescript</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Android/Kotlin</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Android/Java</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">MVC/C#</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">HTML5/CSS3</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Ionic/Typescript</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Python Automation</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">React/JavaScript</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
  </div>
</div>
