<app-navbar></app-navbar>
<div class="portfolio-container">
  <h2>Development Projects</h2>
  <div class="projects-container">
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
    <div class="item">
      <div class="project">Angular</div>
      <div class="description">Random placeholder description of project.</div>
    </div>
  </div>
</div>
